* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../img/6163978.jpg'); /* Substitua pelo caminho da sua imagem de fundo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #ff1e02;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header .logo {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: auto;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.container {
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form label {
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left;
    width: 100%;
}

form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    box-sizing: border-box;
}

form button:hover {
    background-color: #0056b3;
}

.chart-container {
    display: none; /* Esconde o contêiner do gráfico inicialmente */
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resultado-texto {
    font-size: 16px;
    margin-top: 20px;
    color: #333;
}

footer {
    background-color: #ff1e02;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}
